<a href="https://colab.research.google.com/github/marcomunozq-miaad-uacj/Programacion1Semestre/blob/Programacion1Sem/Practica_13_Limpieza_y_Transformaci%C3%B3n_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practica 13-17. Gráficos de dispersión con plotly.express y el dataset gapminder
Alumno: Marco Antonio Muñoz Quiroz


El objetivo de esta actividad es que los estudiantes practiquen los temas vistos de carga de datos, normalización de nombres de columnas, separación y unión de columnas, errores en los tipos de datos. Todo es en un conjunto de datos utilizando Pandas en Python.


https://github.com/marcomunozq-miaad-uacj/Programacion1Semestre/blob/315a199da2c21161514527e9bd3eec150210ba95/Practica_13_Limpieza_y_Transformaci%C3%B3n_de_Datos.ipynb

## Práctica 13: Carga de Datos

Al final del archivo contiene una línea que dice "Esta es una línea que no deberías cargar". Esta línea es irrelevante por lo tanto al cargar el CSV a un dataframe se debería de ignorar.

Carga el archivo a un dataframe usando el código necesario para omitir la última fila.
Usa df.tail(3) para demostrar que no has cargado la última línea
Imprime la cantidad de filas y columnas del dataframe

In [1]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:

file_path = '/content/drive/MyDrive/Colab Notebooks/Semestre1/Programacion/Semana4/Practica13/miaad-nyc-r-s.csv'

with open(file_path, 'r', encoding='utf-8') as f:
    rows = f.readlines()
    total_rows = len(rows)

df = pd.read_csv(file_path, engine='python')
df.tail(1)
#Aqui si carga la ultima linea

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84548,Esta es una línea que no deberías cargar,NaN,None,None,None,NaN,NaN,None,None,None,...,NaN,NaN,NaN,None,None,NaN,NaN,None,None,None

In [31]:
df = pd.read_csv(file_path, skipfooter=1, engine='python')
df.tail(1)
#Aqui ya no carga la ultima linea del csv original

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796,2400,2006,4,P9,69300,2016-10-27 00:00:00

In [32]:
print("Cantidad de filas y columnas:", df.shape)
#cantidad de filas y columnas totales

Cantidad de filas y columnas: (84548, 22)

## Práctica 14: Agregar una columna

Imprime los nombres de la columnas del archivo
Asegúrate que el nombre de la primera columna debería ser INDEX MIIAD.

Si esto no es así, entonces agrega dicho nombre a la columna y vuelve a imprimir los nombres para mostrar el cambio realizado.

In [35]:
print("La primer columna aparece como 'Unnamed: 0'\n")
print(df.columns)

if df.columns[0] != 'INDEX MIIAD':
    df.columns.values[0] = 'INDEX MIIAD'

print("\nAqui ya cambia a 'INDEX MIIAD'\n")
print(df.columns)

La primer columna aparece como 'Unnamed: 0'

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

Aqui ya cambia a 'INDEX MIIAD'

Index(['INDEX MIIAD', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

## Práctica 15: Normalización de los nombres de la columna

Normaliza los nombres de ls columnas, los cuales deberán estar en minúsculas.

Asimismo, reemplaza los espacios con guion bajo
Imprime los nombres de las columnas para demostrar que has realizado la normalización.

In [36]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

print("Nombres de columnas normalizados. Todos tienen guion bajo.\n")
print(df.columns)

Nombres de columnas normalizados. todos tienen guion bajo

Index(['index_miiad', 'borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

## Práctica 16: Errores en los Tipos de Datos

Imprime los tipos de datos de cada columna.

Asegúrate que las columnas de SALE PRICE(sale_price), LAND SQUARE FEET (land_square_feet), GROSS SQUARE FEET (gross_square_feet) sean de tipo flotante.

Escribe qué tipo de dato tienen asignado. Si no son correctos, realiza el cambio.

Imprime de nuevo los tipos de datos para demostrar que has arreglado el problema.

In [37]:
print("Tipos de datos de todo el dataframe:\n")
print(df.dtypes)

Tipos de datos de todo el dataframe:

index_miiad                        int64
borough                            int64
neighborhood                      object
building_class_category           object
tax_class_at_present              object
block                              int64
lot                                int64
ease-ment                         object
building_class_at_present         object
address                           object
apartment_number                  object
zip_code                           int64
residential_units                  int64
commercial_units                   int64
total_units                        int64
land_square_feet                  object
gross_square_feet                 object
year_built                         int64
tax_class_at_time_of_sale          int64
building_class_at_time_of_sale    object
sale_price                        object
sale_date                         object
dtype: object

In [38]:
print("Tipos de datos antes de la conversion de las columnas en cuestion:\n")
print(df[['sale_price', 'land_square_feet', 'gross_square_feet']].dtypes)

Tipos de datos antes de la conversion de las columnas en cuestion:

sale_price           object
land_square_feet     object
gross_square_feet    object
dtype: object

In [40]:
columns_to_convert = ['sale_price', 'land_square_feet', 'gross_square_feet']

for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col].astype(str).str.replace(',', ''), errors='coerce')

print("\nTipos de datos después de la conversion. Ahora son float64\n")
print(df[columns_to_convert].dtypes)

Tipos de datos después de la conversion. Ahora son float64

sale_price           float64
land_square_feet     float64
gross_square_feet    float64
dtype: object

Práctica 17: Genera el diccionario de datos del dataframe preprocesado. Imprime el contenido de dicho diccionario

In [43]:
# Vemos como quedo el dataframe al final de todas las modificaciones
df

,index_miiad,borough,neighborhood,building_class_category,tax_class_at_present,block,lot,ease-ment,building_class_at_present,address,...,residential_units,commercial_units,total_units,land_square_feet,gross_square_feet,year_built,tax_class_at_time_of_sale,building_class_at_time_of_sale,sale_price,sale_date
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633.0,6440.0,1900,2,C2,6625000.0,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616.0,18690.0,1900,2,C7,NaN,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212.0,7803.0,1900,2,C7,NaN,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272.0,6794.0,1913,2,C4,3936272.0,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369.0,4615.0,1900,2,C2,8000000.0,2016-11-17 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84543,8409,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,34,,B9,37 QUAIL LANE,...,2,0,2,2400.0,2575.0,1998,1,B9,450000.0,2016-11-28 00:00:00
84544,8410,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7349,78,,B9,32 PHEASANT LANE,...,2,0,2,2498.0,2377.0,1998,1,B9,550000.0,2017-04-21 00:00:00
84545,8411,5,WOODROW,02 TWO FAMILY DWELLINGS,1,7351,60,,B2,49 PITNEY AVENUE,...,2,0,2,4000.0,1496.0,1925,1,B2,460000.0,2017-07-05 00:00:00
84546,8412,5,WOODROW,22 STORE BUILDINGS,4,7100,28,,K6,2730 ARTHUR KILL ROAD,...,0,7,7,208033.0,64117.0,2001,4,K6,11693337.0,2016-12-21 00:00:00
84547,8413,5,WOODROW,35 INDOOR PUBLIC AND CULTURAL FACILITIES,4,7105,679,,P9,155 CLAY PIT ROAD,...,0,1,1,10796.0,2400.0,2006,4,P9,69300.0,2016-10-27 00:00:00

In [44]:
#Aqui generamos el diccionario y lo convertimos en dataframe
diccionario_datos = pd.DataFrame({"Nombre de la columna": df.columns,
                                  "Tipo de dato": [str(df[col].dtype) for col in df.columns]})
diccionario_datos

                 Nombre de columna Tipo de dato
0                      index_miiad        int64
1                          borough        int64
2                     neighborhood       object
3          building_class_category       object
4             tax_class_at_present       object
5                            block        int64
6                              lot        int64
7                        ease-ment       object
8        building_class_at_present       object
9                          address       object
10                apartment_number       object
11                        zip_code        int64
12               residential_units        int64
13                commercial_units        int64
14                     total_units        int64
15                land_square_feet      float64
16               gross_square_feet      float64
17                      year_built        int64
18       tax_class_at_time_of_sale        int64
19  building_class_at_time_of_sale       object
20                      sale_price      float64
21                       sale_date       object